// Color Pallette

$white: #fff;
$black: #000;

$primary-black: #27323F;
$primary-blue: #004371;
$primary-pink: #F74178;
$primary-orange: #FCC02A;
$primary-green: #08BD85;
$primary-red: #F74141;

$secondary-blue: #9CC1DA;

// color shadings

$blue-100: #ECF3F8;
$blue-200: #C9DDEB;
