* {
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: hidden;
    overflow-y: unset;
}

body {
    height: 100%;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    color: $primary-black;
    font-size: 14px;

    &.menu-open {
        position: fixed;
        height: 100vh;
    }
}

*::selection {
    background-color: rgba($primary-pink, 0.5);
    color: $primary-black;
}

.sub-page-header-section {
    padding: 8rem 0 6rem;

    &.pink-bg {
        background-color: rgba($primary-pink, 0.05);
    }

    &.yellow-bg {
        background-color: rgba($primary-orange, 0.1);
    }

    &.green-bg {
        background-color: rgba($primary-green, 0.1);
    }

    &.gray-bg {
        background-color: rgba($primary-black, 0.1);
    }

    &.img-bg {
        padding: 0;
        position: relative;
    }

    h4 {
        @media (min-width: 992px) {
            padding: 0 8rem;
        }

        a {
            text-decoration: none;
            color: $primary-pink;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}