* {
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: hidden;
    overflow-y: unset;
}

body {
    height: 100%;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    color: $primary-black;
    font-size: 14px;

    &.menu-open {
        position: fixed;
        height: 100vh;
    }
}

*::selection {
    background-color: rgba($primary-pink, 0.5);
    color: $primary-black;
}

.sub-page-header-section {
    padding: 8rem 0 6rem;

    &.pink-bg {
        background-color: rgba($primary-pink, 0.05);
    }

    &.yellow-bg {
        background-color: rgba($primary-orange, 0.1);
    }

    &.green-bg {
        background-color: rgba($primary-green, 0.1);
    }

    &.gray-bg {
        background-color: rgba($primary-black, 0.1);
    }

    &.blue-bg {
        background-color: $blue-200;
    }

    &.img-bg {
        padding: 0;
        position: relative;
    }

    h4 {
        @media (min-width: 992px) {
            padding: 0 8rem;
        }

        a {
            text-decoration: none;
            color: $primary-pink;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.not-found-page-section {
    position: relative;
    padding: 6rem 0;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        width: 200px;
        height: 200px;
        bottom: 0;
        left: 0;
        background: url('/assets/img/magnifying-glass.png') no-repeat center;
        background-size: contain;
        filter: drop-shadow(20px 60px 8px rgba($black, 0.1)) opacity(0.2);

        @media (min-width: 768px) {
            filter: drop-shadow(20px 60px 8px rgba($black, 0.1)) opacity(1);
        }

        @media (min-width: 992px) {
            width: 300px;
            height: 300px;
            left: 2rem;
        }
    }

    .center-grid {
        display: grid;
        place-content: center;
        text-align: center;
    }

    .big-title {
        font-size: clamp(5rem, 30vw, 25rem);
        background-color: $primary-blue;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba($white, 0.5) 0px 3px 3px;
        opacity: 0.3;
        line-height: 1;
        margin-bottom: 3rem;
    }

    .big-text {
        font-size: clamp(16px, 2vw, 24px);
        font-weight: 600;
        color: $primary-blue;
        margin-bottom: 1rem;

        a {
            color: $primary-pink;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}