* {
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    color: $primary-black;
    font-size: 14px;
    overflow-x: hidden;

    &.menu-open {
        position: fixed;
        height: 100vh;
    }
}

.sub-page-header-section {
    padding: 8rem 0 6rem;

    &.pink-bg {
        background-color: rgba($primary-pink, 0.05);
    }

    &.yellow-bg {
        background-color: rgba($primary-orange, 0.1);
    }

    &.green-bg {
        background-color: rgba($primary-green, 0.1);
    }
}