.mp-form {
    @media (min-width: 1200px) {
        padding: 0 5rem;
    }
}

.mp-form-group {
    position: relative;
    padding-bottom: 20px;

    &__label {
        color: $white;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__error {
        color: $primary-red;
        font-size: 12px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    input {
        height: 50px;
        border-radius: 8px;
        background-color: $white;
        color: $primary-black;
        font-size: 16px;
        padding: 0 15px;
        width: 100%;
        border: 0;
        transition: .25s;
        outline: 0;

        &:active,
        &:focus {
            background-color: $blue-100;
        }

        @include placeholder {
            color: rgba($primary-black, 0.2);
        }
    }

    textarea {
        min-height: 120px;
        border-radius: 8px;
        background-color: $white;
        color: $primary-black;
        font-size: 16px;
        padding: 10px 15px;
        width: 100%;
        border: 0;
        transition: .25s;
        outline: 0;

        &:active,
        &:focus {
            background-color: $blue-100;
        }

        @include placeholder {
            color: rgba($primary-black, 0.2);
        }
    }
}