.header-section {
    background-color: #ecf3f7;
    padding: 2rem 0 4rem;
    padding-top: 70px;

    @media (min-width: 768px) {
        padding: 0;
        height: 100vh;
    }

    @media (min-height: 1200px) {
        height: 50vh;
    }

    .hero-container {
        height: calc(100% - 70px);

        .hero-section {
            position: relative;
            z-index: 2;

            .fade-in-delay {
                opacity: 0;
                animation: fadeIn 0.5s ease-in both;
                animation-delay: 1s;
                position: relative;

                &.delay-1 {
                    animation-delay: 1.7s;
                }

                &.delay-2 {
                    animation-delay: 2.5s;
                }
            }
        }

        .hero-video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            @media (min-width: 768px) {
                justify-content: flex-end;
            }

            video {
                width: 80%;

                @media (min-width: 768px) {
                    width: 90%;
                }

                @media (max-height: 700px) {
                    margin-top: 3rem;
                    width: 80%;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: -30px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.how-it-works-section {
    padding: 6rem 0;

    .header-text-block {
        max-width: 30rem;
        margin: auto;
    }

    .step-block {
        text-align: center;
        margin-top: 4rem;

        img {
            width: 100%;
            padding: 0 3rem;
        }

        .step-no {
            color: $blue-200;
        }
    }
}

.banner-section {
    padding: 6rem 0;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url('/assets/img/banner-1.jpg') no-repeat center;
        background-size: cover;
        z-index: -1;
    }

    &.black-gradient {
        background: linear-gradient(270.25deg, rgba(39, 50, 63, 0.9) 50%, rgba(236, 243, 248, 0.261) 110.89%);
    }

    &.blue-gradient {
        background: linear-gradient(95.54deg, rgba(0, 67, 113, 0.9) 13.3%, rgba(156, 193, 218, 0.9) 103.07%);

        &::before {
            background: url('/assets/img/banner-2.jpg') no-repeat center top;
        }
    }

    .three-text-line {
        margin-bottom: 1.5rem;

        .dot-separator {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $white;
            margin: 1rem 1.5rem 0;
        }
    }

    h4 {
        font-weight: 500;
    }
}

.split-section {
    padding: 6rem 0;

    .img-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        @media (min-width: 992px) {
            margin-top: 0;
            justify-content: flex-start;
        }

        img {
            width: 80%;
            height: auto;

            @media (min-width: 1200px) {
                height: clamp(25rem, 10vw, 40rem);
            }
        }

        .dot-square {
            background-color: transparent;
            background-image: radial-gradient(rgba($secondary-blue, 0.2) 15%, transparent 0%),
                radial-gradient(rgba($secondary-blue, 0.2) 15%, transparent 0%);
            background-size: 30px 30px;
            width: 15rem;
            height: 15rem;
            position: absolute;
            z-index: -1;
            left: 100px;
            bottom: -6rem;

            @media (min-width: 992px) {
                width: 25rem;
                height: 25rem;
                left: 10px;
            }
        }
    }
}

.testimonial-section {
    padding: 6rem 0;

    h4 {
        font-weight: 500;
    }

    .testimonial-slider {
        .testimonial {
            &__text {
                color: $primary-black;
                font-size: clamp(25px, 3vw, 40px);
                font-weight: 700;
                text-align: center;
            }
        }

        .slick-dots {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            li {
                button {
                    height: 8px;
                    border: none;
                    width: 30px;
                    padding: 0;
                    border-radius: 10px;
                    margin: 0.5rem;
                    font-size: 0;
                    background-color: rgba($secondary-blue, 0.2);
                }

                &.slick-active {
                    button {
                        background-color: $secondary-blue;
                    }
                }
            }
        }
    }
}

.logo-section {
    padding: 6rem 0;

    .logo-slider {
        .slick-track {
            display: flex;
            align-items: center;
        }

        img {
            height: auto;
            //width: 250px !important;
            filter: grayscale(100%) opacity(30%);

            &.invert-color {
                filter: invert(100%) opacity(30%);
            }

            &.square-logo {
                width: 220px !important;
            }

            &.rectangular-logo {
                width: 280px !important;
            }

            &.long-rectangular-logo {
                width: 340px !important;
            }
        }
    }
}


.icon-scroll {
    width: 30px;
    height: 60px;
    top: 50%;
    margin-top: 3rem;
    box-shadow: inset 0 0 0 2px $primary-black;
    border-radius: 25px;
    position: relative;

    @media (min-width: 992px) {
        margin-top: -15px;
    }

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        background: $primary-black;
        margin-left: -4px;
        top: 8px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
        position: absolute;
        left: 50%;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}