.filter-block {
    position: sticky;
    top: 57px;
    z-index: 1000;
    margin-bottom: 3rem;

    @media (min-width: 576px) {
        top: 69px; 
    }

    &--sticky-top {
        background: $blue-100;
        padding: 0.75rem 0;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        padding-top: 8px;
    }

    &__slider {
        width: 100%;
        display: flex;
        justify-content: center;

        .slick-track {
            @media (min-width: 992px) {
                width: 100% !important;
            }
        }

        .slick-list {
            padding: 0 1rem;
        }

        .slick-arrow {
            background-color: $white;
            box-shadow: 0px 0px 6px rgba($black, 0.2);
            border-radius: 5px;
            height: 40px;
            width: 40px;
            font-size: 0;
            border: 0;
            position: relative;
            flex-shrink: 0;
            margin: 0.5rem 0;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary-blue;
                font-family: uicons-solid-rounded !important;
                font-size: 18px;
            }

            &.slick-prev {
                &::before {
                    content: "\f110";
                }
            }

            &.slick-next {
                &::before {
                    content: "\f111";
                }
            }

            &.slick-disabled {
                background-color: rgba($primary-black, 0.1);
                box-shadow: none;

                &::before {
                    color: rgba($primary-black, 0.5);
                }
            }
        }

        &__item {
            font-size: 16px;
            font-weight: 500;
            background-color: $white;
            box-shadow: 0px 0px 5px rgba($black, 0.1);
            border-radius: 8px;
            padding: 8px 20px;
            margin: 0.5rem;
            cursor: pointer;
            transition: .35s;
            display: block !important;
            text-decoration: none;
            color: #27323F;

            &:hover {
                background-color: $blue-100;
            }

            &:focus {
                outline: 0 !important;
            }

            &.active {
                background-color: $blue-200;
                color: $primary-blue;
            }
        }
    }
}

.stores-section {
    padding: 2rem 0 6rem;

    .category-block {
        text-align: center;

        &:last-of-type {
            margin-bottom: 0;
        }

        &__title {
            font-size: clamp(30px, 5vw, 40px);
            font-weight: 600;
            color: $primary-blue;
            padding: 0 1rem 0.5rem;
            border-bottom: 3px solid;
            display: inline-flex;
            margin-bottom: 2rem;
        }

        p {
            line-height: 25px;
            padding: 0;

            @media (min-width: 992px) {
                padding: 0 6rem;
            }

            @media (min-width: 768px) {
                padding: 0 10rem;
            }
        }

        .mobile-view-more {
            a {
                font-size: 18px;
                font-weight: 600;
                color: $primary-blue;
                text-decoration: none;
            }
        }
    }
}

.store-block {
    margin: 1rem 0 4rem;
    display: flex;
    flex-wrap: wrap;

    &.store-page {
        @media (min-width: 992px) {
            justify-content: center;
        }
    }

    &__item {
        padding: 0 1rem;
        outline: 0;
        flex: 0 1 50%;
        margin-bottom: 1.5rem;

        @media (min-width: 992px) {
            flex: 0 1 25%;
        }

        .store-img {
            img {
                width: 100%;
                height: 170px;
                border-radius: 10px;
                object-fit: cover;

                @media (min-width: 768px) {
                    height: 300px;
                }

                @media (min-width: 1444px) {
                    height: 350px;
                }
            }

            .store-link {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .35s;
                background-color: rgba($primary-black, 0.4);

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        filter: grayscale(1);
                        opacity: 0.7;
                        transition: .35s;

                        &.rectangular-logo {
                            width: calc(100% - 50px);
                            height: auto;

                            @media (min-width: 600px) {
                                width: calc(100% - 200px);
                            }

                            @media (min-width: 992px) and (max-width: 1500px) {
                                width: calc(100% - 100px);
                            }
                        }

                        &.square-logo {
                            height: calc(100% - 100px);
                            width: auto;

                            @media (min-width: 600px) {
                                height: calc(100% - 200px);
                            }
                        }

                        &.b2w-logo {
                            filter: invert(1) grayscale(1);
                        }
                    }
                }
            }

            &:hover {
                .store-link {
                    background-color: rgba($primary-black, 0.8);

                    a {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .store-title {
            text-transform: uppercase;
        }

        // &.view-more {
        //     .view-more-block {
        //         height: 250px;
        //         background-color: $primary-blue;
        //         border-radius: 10px;

        //         @media (min-width: 768px) {
        //             height: 300px;
        //         }

        //         @media (min-width: 1444px) {
        //             height: 350px;
        //         }

        //         &::before {
        //             content: '';
        //             background: url('/assets/img/clothes-doodle.jpg') no-repeat center;
        //             background-size: cover;
        //             width: 100%;
        //             height: 100%;
        //             top: 0;
        //             left: 0;
        //             position: absolute;
        //             mix-blend-mode: multiply;
        //             opacity: 0.3;
        //             border-radius: 10px;
        //         }

        //         .store-link {
        //             opacity: 1;
        //             background-color: transparent;
        //         }
        //     }
        // }
    }

    &--grid {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;

        .store-block__item {
            flex: 0 0 50%;
            padding: 0 15px;
            
            @media (min-width: 768px) {
                flex: 0 0 33.3%;
            }
    
            @media (min-width: 992px) {
                flex: 0 0 25%;
            }
        }
    }
}

.img-bg {
    .bg-img-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.6;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bg-img-text-block {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}