.filter-block {
    &__text {
        font-size: 18px;
        font-weight: 500;
        padding-top: 8px;
    }

    &__btns {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            font-size: 16px;
            font-weight: 500;
            background-color: $white;
            box-shadow: 0px 0px 6px rgba($black, 0.2);
            border-radius: 8px;
            padding: 8px 20px;
            margin: 0 0.5rem 1rem;
            cursor: pointer;
            transition: .35s;

            &:hover {
                background-color: $blue-100;
            }

            &.active {
                background-color: $blue-200;
                color: $primary-blue;
            }
        }
    }
}

.stores-section {
    padding: 6rem 0;

    .category-block {
        margin-bottom: 3rem;
        text-align: center;

        &:last-of-type {
            margin-bottom: 0;
        }

        &__title {
            font-size: clamp(30px, 5vw, 40px);
            font-weight: 600;
            color: $primary-blue;
            padding: 0 1rem 0.5rem;
            border-bottom: 3px solid;
            display: inline-flex;
            margin-bottom: 2rem;
        }

        p {
            line-height: 25px;
            padding: 0;

            @media (min-width: 992px) {
                padding: 0 6rem;
            }

            @media (min-width: 768px) {
                padding: 0 10rem;
            }
        }
    }
}