.faq-section {
    padding: 6rem 0;

    .question-block {
        margin-bottom: 4rem;

        &:last-of-type {
            margin-bottom: 0;
        }
        
        &__title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            padding-left: 2rem;
            margin-bottom: 1.5rem;
            position: relative;

            &::before {
                content: "\f121";
                font-family: "uicons-solid-rounded";
                color: $primary-black;
                font-size: 18px;
                position: absolute;
                left: 0;
                top: 3px
            }
        }
    }

    .accordion {
        box-shadow: 0px 2px 6px rgba($black, 0.2);
        border-radius: 10px;
        padding: 1.5rem;

        .accordion-item {
            margin-bottom: .7rem;

            .accordion-header {
                .accordion-button {
                    border: 0;
                    background-color: $blue-200;
                    color: $primary-black;
                    border-radius: 5px;
                    box-shadow: none;
                    font-weight: 500;

                    &:focus {
                        outline: 0;
                    }

                    &:after {
                        background: none;
                        content: "\f13f";
                        font-family: "uicons-solid-rounded";
                        color: $primary-black;
                        font-size: 25px;
                        transform-origin: center center;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .accordion-collapse {
                border: 0;
                background-color: $blue-100;
                color: $primary-black;

                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}