<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Contact details</h4>
                    <p class="footer-block__text mb-3"><a href="mailto:support@mintpay.lk">support@mintpay.lk</a>
                    </p>
                    <p class="footer-block__text mb-3">+94 772 985 290</p>
                    <address class="footer-block__text">410, 33 Bauddhaloka Mawatha, Colombo 00700</address>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Useful links</h4>
                    <ul class="footer-block__nav">
                        <li class="footer-block__text mb-3"><a href="#">Support</a></li>
                        <li class="footer-block__text mb-3"><a href="#">Terms &amp; conditions</a></li>
                        <li class="footer-block__text"><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-xl-0">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Banking Partners</h4>
                    <div
                        class="footer-block__logos d-flex flex-wrap justify-content-center justify-content-lg-start">
                        <img class="me-4" src="assets/img/mastercard-logo.png" alt="">
                        <img class="" src="assets/img/seylan-logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-xl-0">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Newsletter subscription</h4>
                    <form action="" class="footer-block__form d-flex">
                        <input class="flex-grow-1 me-2" type="text" placeholder="Enter your email">
                        <button class="mp-btn mp-btn--footer flex-shrink-0">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="footer-bottom-text text-center">Copyright 2021 &copy; Mintpay Pte Ltd. All rights
                    reserved.</div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/main.js"></script>