<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Shoppers</h4>
                    <ul class="footer-block__nav">
                        <li class="footer-block__text mb-3"><a href="support.html">Support</a></li>
                        <li class="footer-block__text mb-3"><a href="https://app.mintpay.lk/terms/">Terms &amp; conditions</a></li>
                        <li class="footer-block__text"><a href="https://app.mintpay.lk/privacy/">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Business</h4>
                    <ul class="footer-block__nav">
                        <li class="footer-block__text mb-3"><a href="partner-with-us.html">Work with us</a></li>
                        <li class="footer-block__text mb-3"><a href="https://app.mintpay.lk/merchant/login">Merchant portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-xl-0">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">About us</h4>
                    <p class="footer-block__text mb-3"><a href="https://www.linkedin.com/company/algoredge/?viewAsMember=true">Company</a></p>
                    <p class="footer-block__text mb-3"><a href="https://www.linkedin.com/company/algoredge/people/?viewAsMember=true">People</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-xl-0">
                <div class="footer-block">
                    <h4 class="footer-block__title mb-4">Partners</h4>
                    <div
                        class="footer-block__logos d-flex flex-wrap justify-content-center justify-content-lg-start">
                        <img class="me-4" src="assets/img/mastercard-logo.png" alt="">
                        <img class="" src="assets/img/seylan-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="footer-bottom-text text-center">Copyright 2021 &copy; Mintpay Pvt Ltd. All rights
                    reserved.</div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/main.js"></script>
</body>

</html>